@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-color: @yellow;
	color: black;
	.margenes(50px, 0px);
          }
a { color: black; 
    transition: background-color .5;
    }

a:link {text-decoration: none; }
a:hover { color: #07d544;  cursor: pointer; }

footer{ 
	padding: 10px 10px 0 10px;
	background-color: @yellow;
	.margenes(10px, 0px);
      }

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	.margenes(10px, 0px);
	
           }
.btn-reserva  {  	width: 100%;  }

.footer-address-icon {  
   padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}